<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sparky's Coffee House</title>
		<meta charset="utf-8">
		<!-- Winston W Edwards Jr -->
body { 
    background-color: #7D8087;
    color: 383631;
    front-family: Verdana, Arial, sans-serif;
}

#wrapper {
    background-color:#FDFDFD;
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #FDB532; 
    color:#FFFFFF;
    text-align: center;
    height: 150px;
    margin-bottom: 50px;
}

h1 {
    padding-top: 50px;
}

nav {
    width: 495px;
    margin-left: auto;
    margin-right: auto;
}

nav ul { 
    padding: 0;
}

nav li{
    display: inline;
    list-style: none;
    background-color: #FDB532;
    padding: 20px;
    width: 70px;
}

nav a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    background-color
}

main { 
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 60px;
}

a {
    color: #8c8c8c;
}

h2 {

    color: # 383631;
}

.coffeehouse {
    font-style: italic;
}

footer {
    background-color: #FDB532;
    font-style: italic;
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
    margin-top: 20px;
}